body {
    background-color: rgb(154, 190, 202);
    font-family: "Sofia", sans-serif;
  }

  h1 {
    color: rgb(228, 13, 13);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  #text{
    padding-left: 10px;
    font-family: verdana;
    font-size: 20px;
  }
  ul > li > #header-list {
    color: #e6084b;
  }
  ul > li > #header-item {
    color: #1c0de4;
  }
  [class|=section-test] {
    background: #5d91af;
  }
  .link-next:hover{
    color: aqua;
  }

  .link-next:active {
    color: blue;
  }
  p::first-line{
    color:red;   
  }
   .model{
    background-color: lightgrey;
    width: 80%;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

  
  .blog{
    background-image: url("image/helooelooh.jpeg");
    background-color: #cccccc;
  }